<header>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand nav_logo" href="/">Krestrage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul style="margin: auto;" class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/landos">Крестраж</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/partners">Партнеры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
            <li class="nav-item" id='sign_in'>
                <a class="nav-link" href="#">Зарегистрироватся по электронной почте</a>
            </li>
            <li class="nav-item" id='vk'>
                <a class="nav-link" href="OAUTH_VK"></a>
            </li>
            <li class="nav-item" id='facebook'>
                <a class="nav-link" href="OAUTH_VK"></a>
            </li>
            <li class="nav-item" id='log_in'>
                <a class="nav-link" href="LOGIN">Войти</a>
            </li>

        </ul>
    </div>
</nav>
</header>