
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel = "stylesheet" href="styles.css"/>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Krestrage</title>
</head>
<div class="main_div">
    <% if (userAuth==0) {%>

    <% include ./partials/menu.ejs %>
        <% }else {%>
            <% include ./partials/loginmenu.ejs %>
        <% }%>
    <div class="some-element">
        <body>
<form action="/handler" method="POST" align="left">
    <div class="container">

        <div class="row">

            <div class="col">

                <p class="ad_p">

                    Популярные товары

                </p>

            </div>

        </div>

        <div class="row">

            <% for(var i=0; i<4; i++) {%>
            <div class="col">

                <div class="ad_box">
                    <a href='<%=adBoxSrc[i]%>'>

                    <div class="ad_box_image_box">

                        <div class="ad_box_image" style="background-image: url('<%=adBoxImg[i] %>')"></div>

                    </div>

                    <div class="ad_box_name_box">

                        <div class="ad_box_name_box_name">

                            <a href='<%=adBoxSrc[i]%>'> <%=adBoxName[i] %> </a>

                        </div>

                    </div>
                    </a>

                </div>

            </div>

            <% }%>

        </div>

        <div class="row">

            <div class="col">

                <div class="ad_second_box">

                    <div class="ad_second_box_image"></div>

                    <div class="ad_second_box_words"></div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <div class="quiz_p">Пройдите опрос, чтобы мы могли подобрать вам одежду:</div>

            </div>

        </div>

        <div class="row">

            <div class="quiz_box">

                <div class="container">

                    <!--First -->

                    <div class="row">

                        <div class="col">

                            <div class="quiz_name">Ваш возраст</div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="quiz_slider">

                                <div class="slider">

                                    <div class="slidecontainer">
                                      <!--  <input type="range" min="1" max="100" value="1" class="slider" name="Age" id="age"> -->
                                        <input type="range" min="1" max="6" id="age_size"
                                               name="rangeInput_age" value="1" class="slider" oninput="var age = ['0', '10-14', '15-17', '18-25' ,'25-30' ,'30-50', '50+']; amount_age.value=age[rangeInput_age.value]">
                                    </div>

                                    <div class="slider_value">

                                        <output name="amount_age" id="amount_age" for="rangeInput_age">0</output>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!--Second -->

                    <div class="row">

                        <div class="col">

                            <div style="margin-top: 2em;" class="quiz_name">Размер</div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="quiz_slider">

                                <div class="slider">

                                    <div class="slidecontainer">
                                        <input type="range" min="0" max="3" id="rangeInput_size"
                                               name="rangeInput_size" value="0" class="slider" oninput="var size = ['XS', 'S', 'M' ,'L']; amount_size.value=size[rangeInput_size.value]">
                                    </div>

                                    <div class="slider_value">

                                        <output name="amount_size" id="amount_size" for="rangeInput">0</output>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                    <!--Third -->


                    <div class="row">

                        <div class="col">

                            <div style="margin-top: 2em;" class="quiz_name">Ваш пол</div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="quiz_radio">

                                <div class="radio">

                                    <p><input name="radio_button_gender" type="radio" value="1"> Мужчина</p>
                                    <p><input name="radio_button_gender" type="radio" value="2"> Женщина</p>

                                </div>

                            </div>

                        </div>

                    </div>


                    <!--fourth -->


                    <div class="row">

                        <div class="col">

                            <div class="quiz_name">Для какого события выбираете одежду</div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="quiz_radio">

                                <div class="radio">

                                    <p><input name="radio_button_event" type="radio" value="1"> На выход</p>
                                    <p><input name="radio_button_event" type="radio" value="2"> На свадьбу (гость)</p>
                                    <p><input name="radio_button_event" type="radio" value="3"> Для деловой встречи</p>
                                    <p><input name="radio_button_event" type="radio" value="4"> Для работы (строгий стиль)</p>
                                    <p><input name="radio_button_event" type="radio" value="5"> Для выходного дня</p>
                                    <p><input name="radio_button_event" type="radio" value="6"> На каждый день</p>
                                    <p><input name="radio_button_event" type="radio" value="7"> Пляжный отдых</p>

                                </div>

                            </div>

                        </div>

                    </div>


                    <!--fifth -->


                    <div class="row">

                        <div class="col">

                            <div class="quiz_name">Ваш предпочтительный стиль одежды</div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="quiz_radio">

                                <div class="radio">

                                    <p><input name="radio_button_style" type="radio" value="1"> Строгий</p>
                                    <p><input name="radio_button_style" type="radio" value="2"> Свободный</p>
                                    <p><input name="radio_button_style" type="radio" value="3"> Яркий</p>
                                    <p><input name="radio_button_style" type="radio" value="4"> Top Trands</p>
                                    <p><input name="radio_button_style" type="radio" value="5"> Дизайнерская одежда</p>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col">

                            <div class="quiz_enter">
                                <p><input class="EntBtn" type="submit" value="Вперед!"></p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <script>
        function updateTextInput(val) {
            document.getElementById('second_slider_output').value=val;
        }

    </script>
</form>

<script>

    document.getElementById('amount_size').value='XS';

    document.getElementById('amount_age').value='10-14'

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    </div>
</div>
</html>