
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel = "stylesheet" href="styles.css"/>

<style>.row{
        margin: auto;
        margin: 5em 0;

    } </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Krestrage</title>
</head>
<div class="main_div">
    <% if (userAuth==0) {%>

        <% include ./partials/menu.ejs %>
    <% }else {%>
        <% include ./partials/loginmenu.ejs %>
    <% }%>
    <body>

<div class="container">


    <div class="row">

        <div class="col">

            <div class="landos_words">

                <p class="words_header">Новый образ.<br>Всегда ваш</p>
                <p class="words_underhead">Мы поможем вам выглядеть блистательно каждый день</p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <div class="people_image"></div>

        </div>

    </div>

    <div class="row">
<div style="height: 45vh;" class="flex_center">
        <div class="col">

            <div class="gradient_image"></div>

        </div>

        <div class="col">

            <div class="landos_words">

                <p class="words_header">Сложно выбрать?<br>Мы поможем.</p>
                <p class="words_underhead">Благодаря нашим алгоритмам и нейронным сетям вы получаете подходящую именно для вас</p>

            </div>

        </div>
</div>
    </div>

    <div class="row">

        <div class="col">

            <div class="landos_words">

                <p class="words_header center_header_words">Знакомтесь -<br>Крестраж</p>
                <p style="margin: auto; text-align: center;" class="words_underhead">Каждый день он анализирует персональные предпочтения клиентов и подбирает персональные предложения</p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <div class="happy_image"></div>
            <p style="margin: auto; text-align: center;" class="words_underhead">Они счастливы благодаря правильно подобранной одежде</p>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <p class="end_words_top">Готовы начать?</p>
            <p style="margin: auto; text-align: center;" class="end_words_bottom"> <a href="/">На главную -></a></p>

        </div>

    </div>

</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</div>
</html>